body {
		font-size: 30px;
	}

	#chapter-one, #chapter-two, #chapter-tree, #chapter-four  {
		text-align: center;
		width: 90%;
	}

	#chapter-one-one, #chapter-two-two, #chapter-tree-tree, 
	#chapter-four-four, #chapter-five, #chapter-six, #chapter-seven, #chapter-eight {
		text-align: center;
		width: 90%;
	}
	

